<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCZNiVBWuZ63nd6TaFgQEXPuRT2RqX5iv0</string>
	<key>GCM_SENDER_ID</key>
	<string>356246634826</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.uncc.GradesApp</string>
	<key>PROJECT_ID</key>
	<string>gradesapp-30405</string>
	<key>STORAGE_BUCKET</key>
	<string>gradesapp-30405.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:356246634826:ios:23b4dfd62ff687b81581b3</string>
</dict>
</plist>